<div id="map" class="index-map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">


<div class="index-content">
  <div class="scrolling-wrapper">
    <% @spots.each do |spot| %>
    <%= link_to result_path(place_id: spot.place_id, url: request.url, spot_type: params[:spot_type], first_address: params[:first_address] || nil, second_address: params[:second_address] || nil) do%>

      <div class="card-category horizontal-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= spot.photos.any? ? spot.photos[0].fetch_url(500) : "https://picsum.photos/id/1060/600/900" %>)">


        <div class="card-info">
          <h1><%= spot.name %>

             <%# <%= link_to spot.name, result_path(place_id: spot.place_id, url: request.url, spot_type: params[:spot_type]) %>
<!--             <%= link_to spot.name, result_path(place_id: spot.place_id, url: request.url) %> -->
          </h1>

          <% spot.rating.to_i.times do %>
            <span>⭐️</span>
          <% end %>

          <% if spot.opening_hours.nil? %>
            <h6>CHECK WEBSITE FOR OPENING HOURS</h6>
            <% elsif spot.opening_hours["open_now"] %>
            <h6>OPEN NOW</h6>
          <%else%>
            <h6>CURRENTLY CLOSED</h6>
          <%end%>
        </div>

      </div>
      <% end %>
    <% end %>
  </div>

  <%=link_to "share", share_spots_path(url:request.url, first_address: params[:first_address] || nil, second_address: params[:second_address] || nil), :class => "my-button button-fullwidth" %>
</div>


</div>
