<img src="<%= @url %>" alt="spot photo"> 


<div> 
<strong><%= @result.name %></strong>
<br>
</div>

<div> 
 <p>Address: <%= @result.formatted_address %> </p>
</div>

<div> 
  <p>Rating: <%= @result.rating %>/5 </p>
</div>

<div>
  <p>Telephone: <%= @result.international_phone_number %> </p>
</div>

<div> 
   <p>Website: <%= @result.website %> </p>
</div>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>