<div class="container">
  <img src="<%= @url %>" alt="spot photo"> 


  <div> 
  <h1><strong><%= @result.name %></strong></h1>
  <br>
  </div>

  <div> 
  <p>Address: <%= @result.formatted_address %> </p>
  </div>

  <div> 
  <p>Rating: <%= @result.rating %>/5 </p>
  </div>

  <div>
  <p>Telephone: <%= @result.international_phone_number %> </p>
  </div>

  <div> 
  <p>Website: <%= @result.website %> </p>
  </div>


  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <br>
  <br>
  <a href="<%=params[:url] %>" class="my-button" >Back</a>
  <%=link_to "Share", share_spots_path(url:request.url), :class => "my-button"%>
</div>
