<img src="<%= @url %>" alt="spot photo"> 


<div> <%= @result.name %> 
</div>

<div> <%= @result.formatted_address %> 
</div>

<div> <%= @result.rating %> 
</div>

<div> <%= @result.international_phone_number %> 
</div>

<div> <%= @result.website %> 
</div>