<!-- app/views/result/show.html.erb -->
<% content_for :meta_title, @result.name %>
<% content_for :meta_description, @result.website %>
<% content_for :meta_image, image_path("bar.png") %>



<div>
  <img class='img-show' src="<%= @url %>" alt="spot photo">
</div>
<div class="main-container">


  <div class="result-info">
    <div class="result-info">


      <h1><strong><%= @result.name %></strong></h1>

        <% @result.rating.to_i.times do %>
          <span>⭐️</span>
        <% end %>
    </div>
    <h2> <i class="fa-li fa fa-map-marker-alt"></i> <%= @result.formatted_address %> </h2>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-phone-alt"></i> <a href="tel:<%= @result.international_phone_number %>" class="go-to-website"> <%= @result.international_phone_number.present? ? @result.international_phone_number : "--" %> </a> </li>
        <li><i class="fa-li fa fa-globe-europe"></i> <a href="<%= @result.website %>" class="go-to-website"> <%= @result.website.present? ? @result.website : "--" %> </a> </li>
        <li><i class="fa-li fa fa-euro-sign"> </i>
        <% if @result.price_level.present? %>
        <li><% @result.price_level.times do %>
            <span style="font-size: 1.2rem;">💵</span>
          <% end %>
        <% else %>
          <%= "--" %>
        <% end %> </li>
        <li><i class="fa-li fa fa-clock"> </i>
          <% if @result.opening_hours["open_now"] %>
            <h6>OPEN NOW</h6>
          <%else%>
            <h6>CURRENTLY CLOSED</h6>
          <%end%>
        </li>

        <li><i class="fa-li fa fa-calendar"> </i>
          <%= link_to "Business Hours ↓", "#collapseExample", data: { toggle: "collapse"}, role: "button", aria: {expanded: false, controls: "collapseExample"} %>
          <div class="collapse" id="collapseExample">
          <% @result.opening_hours["weekday_text"].each do |day| %>
          <p><%= day %></p>
          <% end %>
        </div>
        </li>
      </ul>
  </div>


  <div id="map" class="result-map"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="page-buttons d-flex align-items-end">
    <a href="<%=params[:url] %>" class="my-button button-50-width" id="back-button" >Back</a>
    <%=link_to "Share", share_spots_path(url:request.url), :class => "my-button button-50-width"%>
  </div>

</div>
