<div class="container">
  <img src="<%= @url %>" alt="spot photo"> 

  <div class="result-info"> 
    <h1><strong><%= @result.name %></strong></h1>

      <ul class="fa-ul">
        <li><i class="fa-li fa fa-map-marker-alt"></i> <%= @result.formatted_address %> </li>
        <li><i class="fa-li fa fa-star"></i> <%= @result.rating %>/5 </li>
        <li><i class="fa-li fa fa-phone-alt"></i> <%= @result.international_phone_number %> </li>
        <li><i class="fa-li fa fa-globe-europe"></i> <%= @result.website %> </li>
      </ul>

  </div>


  <div id="map"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="page-buttons">
    <a href="<%=params[:url] %>" class="my-button" >Back</a>
    <%=link_to "Share", share_spots_path(url:request.url), :class => "my-button"%>
  </div>

</div>
