<div class="center-share">

  <%= image_tag 'logo.png' %>

  <div class="card" style="width: 20rem; hight: 15rem;">
    <div class="card-body">
      <h5 class="card-title">Share your options</h5>
      <a href="whatsapp://send?text=<%= params[:url] %>"><i class="fab fa-whatsapp"></i></a>
      <a href=https://t.me/share/url?url=<%= params[:url] %>&text=Check this places"><i class="fab fa-telegram"></i></a>
      <a href="mailto:?subject=Check all this spots&amp;body=Check out this site <%= params[:url] %>"><i class="fas fa-envelope"></i></a>
      <div class="card-copy">
      <p id="share-link"><%=params[:url]%></p>
      <p><i class="far fa-copy"></i></p>
      </div>
    </div>

  </div>
  <a href="<%=params[:url] %>">Back</a>

</div>
