<div class="center-share">

<%= link_to root_path do %>
  <%= image_tag("logo.png")%>
<% end %>

  <div class="card">
    <h5 class="card-title">Share your options</h5>
    <div class="card-body">
      <a href="whatsapp://send?text=<%= params[:url] %>"><i class="fab fa-whatsapp"></i></a>
      <a href=https://t.me/share/url?url=<%= params[:url] %>&text=Check this places"><i class="fab fa-telegram"></i></a>
      <a href="mailto:?subject=Check all this spots&amp;body=Check out these spots <%= params[:url] %>"><i class="fas fa-envelope"></i></a>
      </div>
      <div class="card-copy">
        <p id="share-link"><%=params[:url]%></p>
        <p><i class="far fa-copy"></i></p>

    </div>
  </div>
  <a href="<%=params[:url] %>" class="my-button button-fullwidth share-button">Back</a>
</div>
